<section class="offerings">
      <div class="container offerings__container">
        <div class="img__border">
          <div class="img__background">
            <img 
            srcset="./images/Offerings/apple.png"
            src="./images/Offerings/apple.png" alt="apple" class="img" />
          </div>
        </div>

        <div class="offerings__title--wrap">
          <h2 class="offerings__title">What’s Special About Our Offerings</h2>
          <p class="offerings__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>

          <ul class="offerings__list">
            <li class="offerings__item">
              <div class="offerings__item__icon--bg">
                <svg class="offerings__item__icon" width="32" height="32">
                <use href="./images/icons.svg#rocket"></use>
              </svg>
              </div>
              
              <h3 class="offerings__item__title">Fastest Delivery</h3>
              <p class="offerings__item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
            </li>

            <li class="offerings__item">
              <div class="offerings__item__icon--bg">
              <svg class="offerings__item__icon" width="32" height="32">
                <use href="./images/icons.svg#touch"></use>
              </svg>
              </div>
              <h3 class="offerings__item__title">Easy To Order</h3>
              <p class="offerings__item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
            </li>
         
          </ul>

           <button class="offerings__btn" type="button">Order Now</button>
        </div>
      </div>
    </section>